body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 0, 67);
  }
  

  #menuhome {
    background-color: #907297;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
  input[type="button"] {
    background-color: #683e72;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }

  #menuhome:hover {
    background-color: #ab98af;
  }
  
  form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
  }
  
  h1 {
    font-size: 24px;
    margin: 0 0 20px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="decimal"]  {
    background-color: #f2f2f2;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
  }
  
  
  #olinho {
    cursor: pointer;
    height: 20px;
    margin-left: -25px;
    margin-top: 10px;
    position: relative;
    width: 20px;
  }
  
  input[type="submit"] {
    background-color: #0072c6;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #005ea2;
  }
  